# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
example/.DS_Store
wiki_chinese/dataset/.DS_Store
wiki_chinese/dataset/zhwiki/.DS_Store
wiki_chinese/dataset/zhwiki/BB/wiki_corpus
wiki_chinese/model/wiki_corpus.bin
wiki_chinese/model/wiki_corpus.bin.syn1neg.npy
wiki_chinese/model/wiki_corpus.bin.wv.vectors.npy
wiki_chinese/model/wiki_corpus.model
wiki_chinese/model/wiki_corpus.model.syn1neg.npy
wiki_chinese/model/wiki_corpus.model.wv.vectors.npy
wiki_chinese/model/wiki_corpus_binary.bin
